@charset "UTF-8";
@font-face {
    font-family: JetBrains;
    src: url('./JetBrains.ttf');
}

a{
    color:rgb(45, 234, 255);
}

table {
    width: 100%;
    margin-bottom: 100px;
  }
  table th {
    background-color: rgb(61, 61, 61);
    color: #fff;
  }
  table td {
    background-color: #f0f0f0;
    color: #0c0c0c;
  }

.observar{
    width: 30%;
    height: 50%;
    background-color: hsl(0, 0%, 7%);
    color: antiquewhite;
    font-size: x-large;
    border-radius: 5px;
    vertical-align: middle;
    margin: 2%;
    margin-top: 5%;
    
}

span{

    font-weight: bold;

    width: 50%;
    margin-left: auto;
    margin-right: auto;

    border: 2px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: outset;
    border-color: rgb(196, 196, 196);
}

h1{
    margin-bottom: 0px;
    margin-top: 5%;
}


html,body{
    height: 60%;
    font-family: JetBrains;
}

html{
    display: table;
    margin: auto;
}

body{
    background-color: hsl(0, 0%, 7%);
    color: antiquewhite;
    font-size: large;
    display: table-cell;
    width: 80%;
    text-align: center;
    vertical-align: middle;
}
